
@model PRO.ViewModels.GameAndGameListFormViewModel

<td class="borderClass" width="225" style="border-width: 0 1px 0 0;" valign="top">
    <div style="width: 225px">

        <div style="text-align: center;">
            @if (Model.Game.Image != null)
            {<a>
                    <img style="max-width:200px;width: expression(this.width > 200 ? 200: true);" class="lazyloaded" src="@Url.Content(Model.Game.Image.ImagePath)">
                </a>}

        </div>
        @if (User.Identity.IsAuthenticated && Model.GameList!= null && Model.userLists!=null)
        {<div class="underlined_h2">Dodaj do listy</div>
        using (Html.BeginForm("Details", "Games"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.GameList.GameId, new { Value = Model.Game.Id })
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.GameList.HoursPlayed, htmlAttributes: new { @class = "control-label col-md-2", @style = "display: contents " })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GameList.HoursPlayed, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GameList.HoursPlayed, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GameList.PersonalScore, htmlAttributes: new { @class = "control-label col-md-2", @style = "display: contents " })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GameList.PersonalScore, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GameList.PersonalScore, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.GameList.UserListId, "Lista użytkownika", htmlAttributes: new { @class = "control-label col-md-2", @style = "display: contents " })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.GameList.UserListId, new SelectList(Model.userLists, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GameList.UserListId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Dodaj" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
        }


        <div class="underlined_h2">Informacje</div>

        <div class="spaceit">
            <span class="dark_text">Data premiery: </span>
            @{

                if (Model.Game.ReleaseDate == null)
                { <a href="#">Nieznana</a>}
                else if (Model.Game.ReleaseDate.Year < 1900)
                { <a href="#">Nieznana</a>}
                else
                {
                    var date = @Model.Game.ReleaseDate.Day.ToString()
                     + "." + @Model.Game.ReleaseDate.Month.ToString() + "."
                     + @Model.Game.ReleaseDate.Year.ToString();

                    <a href="#">@date</a>}
            }
        </div>
        <div class="spaceit"><span class="dark_text">Platforma: </span><a href="#">@Model.Game.Platform.Name</a></div>
        <div class="spaceit"><span class="dark_text">Gatunek: </span>@Model.Game.Genre.Name</div>
        <div class="spaceit">
            <span class="dark_text">Wydawca: </span>@if (Model.Game.PublisherCompany == null)
            {<a>Brak</a> }
            else
            { <a>@Model.Game.PublisherCompany.Name</a>}
        </div>
        <div class="spaceit">
            <span class="dark_text">Producent: </span>@if (Model.Game.DeveloperCompany == null)
            {<a>Brak</a> }
            else
            { <a>@Model.Game.DeveloperCompany.Name</a>}
        </div>
        <div class="spaceit"><span class="dark_text">Status: </span> <a>@Model.Game.Status.Name</a> </div>
        <div class="spaceit">
            <span class="dark_text">Seria: </span>@if (Model.Game.SeriesId == null)
            {<a>Brak</a> }
            else
            { <a>@Model.Game.Series.Name</a>}
        </div>

        <div>
            <span class="dark_text">Języki:</span>


            @foreach (var language in Model.Game.Languages)
            {
                <a href="#">@language.Name</a>
            }

        </div>
        <div class="spaceit">
            <span class="dark_text">Tagi:</span>
            @foreach (var tag in Model.Game.Tags)
            {
                <a href="#">@tag.Name</a>
            }

        </div>

        <br>

        <div class="underlined_h2">Statystyki</div>
        <div>
            <span class="dark_text">Ocena:</span>
            <span class="score-label score-7">7.82</span>
        </div>
        <div>
            <span class="dark_text">Ranking:</span>
            #787
        </div>
        <div>
            <span class="dark_text">Popularność:</span>
            #839
        </div>
        <br>

        <div class="underlined_h2">Nagrody</div>

        @{
            if (Model.Game.Awards != null)
            {
                foreach (var award in Model.Game.Awards)
                {
                    <a href="#">@award.Name</a>
                }
            }
            else
            {
                <div>brak</div>
            }
        }
        <div class="clearfix mauto mt16" style="width:160px;padding-right:10px">
        </div>

    </div>
</td>