
@model PRO.ViewModels.GameDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_GameTitleBar", Model.Game)
<div id="content">

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                @Html.Partial("_GameInfoBar", Model.Game)
                <td valign="top" style="padding-left: 5px;">
                    <div class="js-scrollfix-bottom-rel">
                        <div style=" margin:0 auto"></div><a name="lower"></a>

                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <tr>
                                    <td valign="top">
                                        <div class="pb16">
                                            <div class="di-t w100 mt12">
                                                <div class="game-detail-header-stats di-tc va-t ">
                                                    <div class="stats-block po-r clearfix">
                                                        <div class="fl-l score" data-title="ocena">
                                                            <div class="score-label score-7">7.82</div>
                                                        </div>
                                                        <div class="di-ib ml12 pl20 pt8">
                                                            <span class="numbers ranked">Ranking<strong>#787</strong></span>
                                                            <span class="numbers popularity">Popularność<strong>#839</strong></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pb24">
                                        <div class="underlined_h2">Opis</div>
                                        <p>
                                            @Html.Raw(Model.Game.Description)
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pb24">

                                        @if (Model.Game.Series != null)
                                        {if(Model.Game.Series.Games.Count()>1)
                                            {
                                        <div class="underlined_h2">Gry z serii @Model.Game.Series.Name</div>
                                        <table class="" style="border-spacing:0px;">
                                            <tbody>
                                                <tr>
                                                    <td width="100%" style=" display: flex; flex-direction: column;" class="">
                                                        @{
                                                            foreach (var game in Model.Game.Series.Games)
                                                            {
                                                                if (game.Id != Model.Game.Id)
                                                                {
                                                                    <a href="/games/@game.Id">@game.Title</a>
                                                                }

                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                                                }
                                                            }
                                        <div>
                                            <span class="floatRightHeader">
                                                @{
                                                    if (Model.Game.Reviews != null)
                                                    {
                                                        <a href="/games/@Model.Game.Id/reviews?page=1&items=2">Więcej recenzji</a>}
                                                }
                                            </span>
                                            <div class="underlined_h2">Recenzje</div>
                                        </div>
                                        @if (Model.Reviews.Count() == 0) {<p>Obecnie nie ma recenzji dla tej gry</p> }
                                        @for (int i = 1; i <= 3; i++)
                                        {
                                            if (Model.Reviews.Count() >= i)
                                            {
                                                @Html.Partial("_SingleReview", Model.Reviews.ToList()[i - 1])
                                            }

                                        }

                                        <br>
                                        <div class="underlined_h2">Powiązane artykuły</div>

                                        <div class="clearfix">
                                            <div class="picSurround fl-l mr8 ml3 mt4">
                                                <a href="/news/60083361" class="image-link">
                                                    <img src="https://cdn.myanimelist.net/r/50x78/s/common/uploaded_files/1593135259-1a799d443cb53cbd94fea3bd369498f6.jpeg?s=c8a8209889ddbafa256e3ae1afa04735" width="50" height="78" class=" lazyloaded">
                                                </a>
                                            </div>
                                            <p class="spaceit">
                                                <a href="/news/60083361">
                                                    <strong>Summer 2020 Simulcast List [Update 7/10]</strong>
                                                </a>
                                            </p>
                                            <div class="clearfix" style="overflow:hidden;">
                                                <p>
                                                    In this thread, you'll find a comprehensive list of anime acquired for simulcast release during the Summer 2020 season. Anime series licensed for home video rel...
                                                    <a href="/news/60083361">read more</a>
                                                </p>
                                            </div>
                                            <p class="lightLink spaceit">Jun 25, 6:35 PM by <a href="/profile/Snow">Snow</a></p>
                                        </div>
                                        <div class="borderClass"></div>
                                        <br>
                                        <div class="underlined_h2">Rekomendowane</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>

